# Dependencies
node_modules/
*/node_modules/

# Environment Variables & Secrets
.env
*.env
backend/.env

# Build & Output Directories
build/
dist/
.next/
out/

# IDE & System Files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
